.userinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.user img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.icons{
    display: flex;
    gap: 15px;
}
.icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}